<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ partial "header.html" . }}
    {{ partial "sidebar.html" . }}

    <title>{{ .Title }}</title>
    <script type="text/javascript">
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();

        if(dd<10) {
            dd='0'+dd
        }

        if(mm<10) {
            mm='0'+mm
        }

        today = yyyy+'-'+mm+'-'+dd;


        function saveFormAsTextFile()
        {
            var textToSave =
                '---\n'+
                'title: ' + document.getElementById('title').value + '\n' +
                'date: ' + today + '\n' +
                'description: ' + document.getElementById('description').value + '\n' +
                'draft: ' + document.getElementById('draft').value.replace(/,\s/g, "\n- ") + '\n' +
                'address: ' + '\n- ' + document.getElementById('adresse').value + '\n' +
                'postalCode: ' + '\n- ' + document.getElementById('codePostal').value + '\n' +
                'city: ' + '\n- ' + document.getElementById('ville').value + '\n' +
                'when: ' + '\n- ' + document.getElementById('when').value + '\n' +
                'photo: ' + '\n- ' + document.getElementById('photo').value + '\n' +
                'important: ' + '\n- ' + document.getElementById('important').value.replace(/,\s/g, "\n- ") + '\n' +
                'association: ' + '\n- ' + document.getElementById('association').value + '\n' +
                'latitude: ' + '\n- ' + document.getElementById('latitude').value + '\n' +
                'longitude: ' + '\n- ' + document.getElementById('longitude').value + '\n' +
                '---\n' + '\n' +
                document.getElementById('contenu').value

            var textToSaveAsBlob = new Blob([textToSave], {type:"text/plain"});
            var textToSaveAsURL = window.URL.createObjectURL(textToSaveAsBlob);
            var fileNameToSaveAs = document.getElementById("filename").value;

            var downloadLink = document.createElement("a");
            downloadLink.download = fileNameToSaveAs;
            downloadLink.innerHTML = "Download File";
            downloadLink.href = textToSaveAsURL;
            downloadLink.onclick = destroyClickedElement;
            downloadLink.style.display = "none";
            document.body.appendChild(downloadLink);

            downloadLink.click();
        }

        function destroyClickedElement(event)
        {
            document.body.removeChild(event.target);
        }
    </script>
</head>

<body>
<div align="center">

    <h1>Créer un événement</h1>
    <table style="height: 60px; border-color: black; width: 400px;" border="10" cellspacing="10" cellpadding="4">
        <tbody>

            <tr><td align="center">
                <label for="title">
                    <i>Title</i>
                    <input id="title" size="40" placeholder="Title">
                </label>
            </td></tr>

    <br>

    <tr>
    <input type="hidden" id="date" size="40">
    </tr>

    <br>
        <tr><td align="center">
            <label for="description">
                <i>Description</i>
                <textarea id="description" cols="40" rows="3" placeholder="tag, tag, tag"></textarea>
            </label>
        </td></tr>

    <br>

            <tr><td align="center">
                <label for="draft">
                    <i>Draft</i>
                    <select name="draft" id="draft" size="1">
                        <option value="true">Vrai</option>
                        <option value="false">Faux</option>
                    </select>
                </label>
            </td></tr>

    <br>

            <tr><td align="center">
                <label for="adresse">
                    <i>Adresse</i>
                    <input id="adresse" size="40" placeholder="Adresse">
                </label>
            </td></tr>

    <br>
            <tr><td align="center">
                <label for="codePostal">
                    <i>Code postal</i>
                    <input id="codePostal" size="40" placeholder="75000">
                </label>
            </td></tr>

    <br>
            <tr><td align="center">
                <label for="ville">
                    <i>Ville</i>
                    <input id="ville" size="40" placeholder="Paris">
                </label>
            </td></tr>

    <br>
            <tr><td align="center">
                <label for="when">
                    <i>Date de l'événement</i>
                    <input id="when" size="40" placeholder="2019-08-29T12:12:00+02:00">
                </label>
            </td></tr>
    <br>

            <tr><td align="center">
                <label for="photo">
                    <i>Photo</i>
                    <input id="photo" size="40" placeholder="/img/events/">
                </label>
            </td></tr>

    <br>

            <tr><td align="center">
                <label for="important">
                    <i>Important</i>
                    <select name="important" id="important" size="1">
                        <option value="true">Vrai</option>
                        <option value="false">Faux</option>
                    </select>
                </label>
            </td></tr>

    <br>
            <tr><td align="center">
                <label for="association">
                    <i>Association</i>
                    <input id="association" size="40" placeholder="Association">
                </label>
            </td></tr>

    <br>

            <tr><td align="center">
                <label for="latitude">
                    <i>Latitude</i>
                    <input id="latitude" size="40" placeholder="43,444444">
                </label>
            </td></tr>

    <br>

            <tr><td align="center">
                <label for="longitude">
                    <i>Longitude</i>
                    <input id="longitude" size="40" placeholder="1,444444">
                </label>
            </td></tr>

    <br>

            <tr><td align="center">
                <label for="contenu">
                    <i>Content</i>
                    <textarea id="contenu" cols="40" rows="10" placeholder="Le contenu de votre événement"></textarea>
                </label>
            </td></tr>

    <br>

            <tr><td align="center">
                <label for="filename">
                    <i>Filename</i>
                    <input id="filename" value="" size="40" placeholder="title.md">
                </label>
            </td></tr>

            <tr><td align="center">
                <button onclick="saveFormAsTextFile()">
                    Save to File
                </button>
            </td></tr>
        </tbody>
    </table>
</div>
</body>
</html>

{{ partial "footer.html" . }}
