<br>
<br>
<br>
<br>
<br>
<div align="center">
    <td><a href="#top" class="btn btn-primary">Retour en haut de la page</a></td>
</div>
<br>
<br>
<br>
<br>
<br>
<div id="footer"; style="position: fixed; bottom: 0; left: 0; right: 0">
    <table style="height: 10px;" class="table table-hover">
        <tr class="table-info">
            <th scope="row">© 2019 Copyright</th>
            <td><h2><a class="btn btn-primary" href="/contact/formulaire">Contactez-nous</a></h2></td>
        </tr>
    </table>
</div>
</body>
</div>
</html>