<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/sidebar.css">

</head>
<body style="position: fixed;">
<div class="sidebar-container">
    <div class="sidebar-logo">
        <a href="/index.html" style="color: white">Mairie de Paris</a>
    </div>
    {{ partial "searchBoxScript.html" . }}
    <ul class="sidebar-navigation">
        <h3 class="header"><a href="/associations/">Liste des associations</a></h3>
        {{ range first 5 (where .Site.RegularPages "Section" "associations") }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
</div>