<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/sidebar.css">

</head>
<body style="position: relative;">
<div class="sidebar-container">
    <div class="sidebar-logo">
        <a href="/events" style="color: white">Les événements du mois de {{ dateFormat "January" now }}</a>
    </div>
    <ul class="sidebar-navigation">
        {{ range first 3 (where .Site.RegularPages "Section" "events") }}
        {{ $n := dateFormat "January" now }}
        {{ $t := dateFormat "January" .Params.When }}
        {{ if eq $n $t }}
        <hr size="4" color="blue">
        <li>
            <h4 align="center">{{ dateFormat "Jan 2, 2006 15:04" .Params.When }}</h4>
            <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
        </li>
        {{ end }}
        {{ end }}
    </ul>
</div>
<br>