<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/sidebar.css">

</head>
<body style="position: relative;">
<div class="sidebar-container">
    <div class="sidebar-logo">
        <a href="/municipalcouncil/" style="color: white">Les membres du conseil municipal</a>
    </div>
    <ul class="sidebar-navigation">
        {{ range first 4 (where .Site.RegularPages "Section" "municipalcouncil") }}
        <hr size="4" color="blue">
        <li>
            <p><a href="{{ .Permalink }}">{{ .Params.LastName }} {{ .Params.FirstNames }}</a></p>
        </li>
        {{ end }}
    </ul>
</div>